.container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
}

.testing {
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

